{% extends 'base.html.twig' %}

{% block title %}
    My Tasks!
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app">
        <div>
            <nav-bar></nav-bar>

            <div class="container mt-3">
                <div class="row justify-content-center">
                    <form-task></form-task>
                    <card-task></card-task>
                </div>
            </div>

        </div>
    </div>

    <template id="navBar">
        <nav class="navbar navbar-light bg-light">
        
            <ul class="nav d-flex justify-content-between" style="width: 100%">
                <li class="nav-item">
                    <div class="container-fluid d-flex align-items-center">
                        <a class="navbar-brand" href="https://symfony.com">
                        <img 
                            src="https://symfony.com/logos/symfony_black_03.png" 
                            alt="" 
                            width="30" 
                            height="24" 
                            class="d-inline-block align-top"
                            style="height: 40px; width: 35px;"
                        >
                        Symfony
                        </a>
                    </div>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="https://vuejs.org">
                        <img 
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/512px-Vue.js_Logo_2.svg.png" 
                            alt="" 
                            width="30" 
                            height="24" 
                            class="d-inline-block align-top"
                        >
                        Vuejs
                        </a>
                    </div>
                </li>
            </ul>

        </nav>
    </template>

    <template id="formTask">
        
        <div class="col-4">
            
            <div v-if="success.status"class="alert alert-success" role="alert">
                ${success.message}$
            </div>

            <form enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Nome da Tarefa</label>
                    <input type="text" class="form-control" id="name" v-model="task.name">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Descrição</label>
                    <input type="text" class="form-control" id="description" v-model="task.description">
                </div>

                <div class="d-flex justify-content-between">
                    <button 
                        type="submit" 
                        class="btn btn-success" 
                        @click.prevent.stop="saveTask(task)"
                        v-if="!isEdit">Cadastrar</button>
                    <button 
                        type="submit" 
                        class="btn btn-primary" 
                        @click.prevent.stop="updateTask(task)"
                        v-if="isEdit">Atualizar</button>
                    <button 
                        type="submit" 
                        class="btn btn-danger" 
                        @click.prevent.stop="resetForm()">Cancelar</button>
                </div>                    
            </form>
        </div>

    </template>

    <template id="cardTask">
        <div class="col-6 border-left">
            <div class="card mb-3" v-for="(task, index) in tasks" :key="task.id">
                <div class="card-body">
                    <h5 class="card-title">${ task.name }$</h5>
                    <p class="card-text">${ task.description }$</p>
                    <div class="d-flex justify-content-end">
                        <a 
                            href="#" 
                            class="btn btn-primary mr-3" @click.prevent.stop="editTask(task)">Editar</a>
                        <a href="#" class="btn btn-danger">Remover</a>
                    </div>
                </div>
            </div>
        </div> 
    </template>


{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}