{% extends 'base.html.twig' %}

{% block title %}
    My Tasks!
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app">
        <nav-bar></nav-bar>
        <h1>${ message }$</h1>
        <form-task></form-task>
    </div>

    <template id="formTask">
        <ul>
            <li>Home</li>
            <li>Sobre</li>
            <li>Serviços</li>
        </ul>
    </template>

    <template id="navBar">
        <nav class="navbar navbar-dark bg-dark">
        
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                        <img 
                            src="https://symfony.com/logos/symfony_black_03.png" 
                            alt="" 
                            width="30" 
                            height="24" 
                            class="d-inline-block align-top"
                        >
                        Symfony
                        </a>
                    </div>
                </li>
                <li class="nav-item justify-content-end:">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                        <img 
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/512px-Vue.js_Logo_2.svg.png" 
                            alt="" 
                            width="30" 
                            height="24" 
                            class="d-inline-block align-top"
                        >
                        Vuejs
                        </a>
                    </div>
                </li>
            </ul>

        </nav>
    </template>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}