{% extends 'base.html.twig' %}

{% block title %}
    My Tasks!
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="app">
        <nav-bar></nav-bar>
        <form-task></form-task>
    </div>

    <template id="navBar">
        <nav class="navbar navbar-dark bg-dark">
        
            <ul class="nav d-flex justify-content-center" style="width: 100%">
                <li class="nav-item">
                    <div class="container-fluid d-flex align-items-center">
                        <a class="navbar-brand" href="https://symfony.com">
                        <img 
                            src="https://symfony.com/logos/symfony_black_03.png" 
                            alt="" 
                            width="30" 
                            height="24" 
                            class="d-inline-block align-top"
                            style="height: 40px; width: 35px;"
                        >
                        Symfony
                        </a>
                    </div>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="https://vuejs.org">
                        <img 
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Vue.js_Logo_2.svg/512px-Vue.js_Logo_2.svg.png" 
                            alt="" 
                            width="30" 
                            height="24" 
                            class="d-inline-block align-top"
                        >
                        Vuejs
                        </a>
                    </div>
                </li>
            </ul>

        </nav>
    </template>

    <template id="formTask">
        
        <div class="container mt-3">

            <div class="row">
                
                <div class="col-4">
                    <form>

                        <div class="mb-3">
                            <label for="name" class="form-label">Nome da Tarefa</label>
                            <input type="text" class="form-control" id="name" aria-describedby="Nome">
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Descrição</label>
                            <input type="text" class="form-control" id="description">
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                            <button type="submit" class="btn btn-danger">Cancelar</button>
                        </div>
                        
                    </form>
                </div>

            </div>

        </div>

    </template>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}